extends ../../main/layout.jade
block content
  .row(ng-controller='VehicleController')
    .col-md-7.col-xs-12
      .box.box-warning
        .box-header
          h3.box-title Vehicles
          .box-tools
            .input-group
              input.form-control.input-sm.pull-right(name='table_search', type='text', placeholder='Search', style="width:150px;")
              .input-group-btn
                button.btn.btn-sm.btn-default
                  i.fa.fa-search
        .box-body.table-responsive.no-padding
          accordion(close-others='oneAtATime')
            accordion-group(ng-repeat='i in range' ng-click="getSubRecordDetails(data.vehicle[i]._id, i)")
              accordion-heading {{data.vehicle[i].year}} {{data.vehicle[i].make}} {{data.vehicle[i].model}}
              accordian
                accordion-group
                  accordion-heading Add Pid
                  form(name='addPid', ng-submit='addSubRecord(addPid, data.vehicle[i], i)', novalidate='')
                    .box-body
                      .form-group
                        label PID
                        input.form-control(type='text', name='vehiclePid' placeholder='Enter Vehicle PID', ng-model='data.vehiclePid', required)
                        .form-group
                        label Network
                        input.form-control(type='text', name='vehicleNet' placeholder='Enter Vehicle Network', ng-model='data.vehicleNet', required)
                    .box-footer
                      button.btn.btn-primary(type='submit',ng-disabled='addPid.$invalid')
                        i.fa.fa-plus-square-o
                        |  Create
                accordion-group
                  accordion-heading Upload File
                  form(name='fileForm', enctype='multipart/form-data',action='/api/file', method='post')
                    input(type='file', name='{{data.vehicle[i]._id}}', id='userFile' ng-model='data.userFile')
                    button.btn.btn-primary(type='submit',value = 'upload File')
                      i.fa.fa-plus-square-o
                      |  Upload
                accordion-group(ng-repeat='pid in data.pid[i] | orderBy:"pid"')
                  accordion-heading PID: {{pid.pid}} On Network: {{pid.network}}
          table.table.table-hover
            tbody
              tr
                th Make
                th Model
                th Year
                th Description
                //th ID
                th
              tr(ng-repeat='vehicle in data | orderBy:"make"')
                td(ng-click="goToRecordDetails(vehicle._id)") {{vehicle.make}}
                td(ng-click="goToRecordDetails(vehicle._id)") {{vehicle.model}}
                td(ng-click="goToRecordDetails(vehicle._id)") {{vehicle.year}}
                td(ng-click="goToRecordDetails(vehicle._id)") {{vehicle.desc}}
                //td(ng-click="goToRecordDetails(vehicle._id)") {{vehicle._id}}
                td(ng-click="goToRecordDetails(vehicle._id)")
                  span.label.label-success(ng-show='c2.active') Uploaded
                  span.label.label-warning(ng-hide='c2.active') Not Uploaded
                td
                  a(href='', ng-click='goToEditRecord(vehicle._id)')
                    i.fa.fa-edit
                  =' '
                  a(href='', ng-click='requestDelete(vehicle)')
                    i.fa.fa-remove
    .col-md-5.col-xs-12
      .box.box-primary
        tabset
          tab(heading='Create Vehicle')
            form(name='addForm', ng-submit='addRecord(addForm)', novalidate='')
              .box-body
                .form-group
                  label Make
                  input.form-control(type='text', name='vehicleMake' placeholder='Enter Vehicle Make', ng-model='data.vehicleMake', required)
                  .form-group
                  label Model
                  input.form-control(type='text', name='vehicleModel' placeholder='Enter Vehicle Model', ng-model='data.vehicleModel', required)
                  .form-group
                  label Year
                  input.form-control(type='text', name='vehicleYear' placeholder='Enter Vehicle Year', ng-model='data.vehicleYear', required)
                  .form-group
                  label Description
                  input.form-control(type='text', name='vehicleDesc' placeholder='Enter Description', ng-model='data.vehicleDesc', required)
              .box-footer
                button.btn.btn-primary(type='submit',ng-disabled='addForm.$invalid')
                  i.fa.fa-plus-square-o
                  |  Create
          tab(heading='Query Vehicles',select='alertMe()')
            form(name='queryForm', ng-submit='queryRecords(queryForm)', novalidate='')
              .box-body
                .form-group
                  label Function
                  input.form-control(type='text', name='vehicleFunc' placeholder='Enter Function To Search For', ng-model='data.vehicleFunc', required)
              .box-footer
                button.btn.btn-primary(type='submit',ng-disabled='queryForm.$invalid')
                  i.fa.fa-search
                  |  Search
