
public
.tmp
client/bower_components
dist
/server/config/local.env.js

# Exclude the .htaccess file
.htaccess

# Exclude any PSD/AI source
*.psd
*.ai
 
# Exclude the build products
build/*
*.[oa]

# Exclude OS X folder attributes
.DS_Store
 
# Exclude Text Files
*.txt
# Except read me
!README.txt

# Exclude log files
*.log

# Exclude Fonts
_fonts/

# Node
npm-debug.log
node_modules

# Windows
Thumbs.db

# WebStorm
.idea/

# vi
*~




client/app/main/main.html

client/app/settings/collections/collections.html

client/app/settings/collections/collection.html

client/app/settings/pids/pids.html

client/app/settings/pids/pid.html

client/app/settings/functions/function.html

client/app/settings/functions/functions.html

client/app/settings/collections/edit_collection.html


client/app/settings/vehicles/vehicles.html

client/app/settings/vehicles/vehicle.html

client/app/settings/vehicles/edit_vehicle.html

client/app/settings/pids/edit_pid.html

client/app/settings/collections/edit_collection.html

client/app/settings/functions/edit_function.html

uploads/PID list Ford C-Max Energi 20131436810353246.csv

uploads/PID list Ford C-Max Energi 20131436817322981.csv
