extends ../../main/layout.jade
block content
  .row(ng-controller='CollectionController')
    .col-md-7.col-xs-12
      .box.box-warning
        .box-header
          h3.box-title Collections
          .box-tools
            .input-group
              input.form-control.input-sm.pull-right(name='table_search', type='text', placeholder='Search', style="width:150px;")
              .input-group-btn
                button.btn.btn-sm.btn-default
                  i.fa.fa-search
        .box-body.table-responsive.no-padding
          table.table.table-hover
            tbody
              tr
                th Name
                th Description
                th ID
                th Status
                th
              tr(ng-repeat='c2 in data | orderBy:"name"')
                td(ng-click="goToRecordDetails(c2._id)") {{c2.name}}
                td(ng-click="goToRecordDetails(c2._id)") {{c2.desc}}
                td(ng-click="goToRecordDetails(c2._id)") {{c2._id}}
                td(ng-click="goToRecordDetails(c2._id)")
                  span.label.label-success(ng-show='c2.active') Uploaded
                  span.label.label-warning(ng-hide='c2.active') Not Uploaded
                td
                  a(href='', ng-click='goToRecordDetails(c2._id)')
                    i.fa.fa-edit
                  =' '
                  a(href='', ng-click='requestDelete(c2)')
                    i.fa.fa-remove

    .col-md-5.col-xs-12
      .box.box-primary
        .box-header
          h3.box-title Create Collection
        form(name='addForm', ng-submit='addRecord(addForm)', novalidate='')
          .box-body
            .form-group
              label Name
              input.form-control(type='text', name='collectionName' placeholder='Enter Collection Name', ng-model='collectionName', required)
              .form-group
              label Date Range
              input.form-control(type="text" class="form-control pull-right" id="reservation", required)
              .form-group
              label Vehicle
              input.form-control(type='text', name='collectionVehicle' placeholder='Vehicle', ng-model='collectionVehicle')
              .form-group
              label Description
              input.form-control(type='text', name='collectionDesc' placeholder='Description', ng-model='collectionDesc')
              .form-group
              label Comments
              input.form-control(type='text', name='collectionComments' placeholder='Comments', ng-model='collectionComments')
          .box-footer
            button.btn.btn-primary(type='submit',ng-disabled='addForm.$invalid')
              i.fa.fa-plus-square-o
              |  Create
