extends ../../main/layout.jade
block content
  .row(ng-controller='CollectionController')
    .col-md-7.col-xs-12
      .box.box-warning
        .box-header
          h3.box-title Collections
          .box-tools
            .input-group
              input.form-control.input-sm.pull-right(name='table_search', type='text', placeholder='Search', style="width:150px;")
              .input-group-btn
                button.btn.btn-sm.btn-default
                  i.fa.fa-search
        .box-body.table-responsive.no-padding
          table.table.table-hover
            tbody
              tr
                th Make
                th Model
                th Year
                th Description
                th
              tr(ng-repeat='vehicle in data | orderBy:"name"')
                td(ng-click="goToRecordDetails(vehicle._id)") {{vehicle.make}}
                td(ng-click="goToRecordDetails(vehicle._id)") {{vehicle.model}}
                td(ng-click="goToRecordDetails(vehicle._id)") {{vehicle.year}}
                td(ng-click="goToRecordDetails(vehicle._id)") {{vehicle.desc}}
                td(ng-click="goToRecordDetails(vehicle._id)")
                  span.label.label-success(ng-show='c2.active') Uploaded
                  span.label.label-warning(ng-hide='c2.active') Not Uploaded
                td
                  a(href='', ng-click='goToRecordDetails(vehicle._id)')
                    i.fa.fa-edit
                  =' '
                  a(href='', ng-click='requestDelete(vehicle)')
                    i.fa.fa-remove

    .col-md-5.col-xs-12
      .box.box-primary
        .box-header
          h3.box-title Create Collection
        form(name='addForm', ng-submit='addRecord(addForm)', novalidate='')
          .box-body
            .form-group
              label Make
              input.form-control(type='text', name='vehicleMake' placeholder='Enter Vehicle Make', ng-model='vehicleMake', required)
              .form-group
              label Model
              input.form-control(type='text', name='vehicleModel' placeholder='Enter Vehicle Model', ng-model='vehicleModel')
              .form-group
              label Year
              input.form-control(type='text', name='vehicleYear' placeholder='Enter Vehicle Year', ng-model='vehicleYear')
              .form-group
              label Description
              input.form-control(type='text', name='collectionDesc' placeholder='Enter Description', ng-model='collectionDesc')
          .box-footer
            button.btn.btn-primary(type='submit',ng-disabled='addForm.$invalid')
              i.fa.fa-plus-square-o
              |  Create
