extends ../../main/layout.jade
block content
  .row(ng-controller='CollectionController')
    .col-md-7.col-xs-12
      .box.box-warning
        .box-header
          h3.box-title {{currentItem.make}} {{currentItem.model}}, {{currentItem.year}}
          .box-tools
            .input-group
              input.form-control.input-sm.pull-right(name='table_search', type='text', placeholder='Search', style="width:150px;")
              .input-group-btn
                button.btn.btn-sm.btn-default
                  i.fa.fa-search
        .box-body.table-responsive.no-padding
          table.table.table-hover
            tbody
              tr
                th PID
                th Network
                th ID
                th
              tr(ng-repeat='p in currentItem.pids | orderBy:"pid"')
                td(ng-click="goToPIDDetails(p._id)") {{p.pid}}
                td(ng-click="goToPIDDetails(p._id)") {{p.network}}
                td(ng-click="goToPIDDetails(p._id)") {{p._id}}
                td(ng-click="goToPIDDetails(p._id)")
                  span.label.label-success(ng-show='c2.active') Uploaded
                  span.label.label-warning(ng-hide='c2.active') Not Uploaded
                td
                  a(href='', ng-click='goToRecordDetails(vehicle._id)')
                    i.fa.fa-edit
                  =' '
                  a(href='', ng-click='requestDelete(vehicle)')
                    i.fa.fa-remove

    .col-md-5.col-xs-12
      .box.box-primary
        .box-header
          h3.box-title Add PID
        form(name='addPid', ng-submit='addSubRecord(addPid)', novalidate='')
          .box-body
            .form-group
              label PID
              input.form-control(type='text', name='vehiclePid' placeholder='Enter Vehicle PID', ng-model='vehiclePid', required)
              .form-group
              label Network
              input.form-control(type='text', name='vehicleNet' placeholder='Enter Vehicle Network', ng-model='vehicleNet', required)
          .box-footer
            button.btn.btn-primary(type='submit',ng-disabled='addPid.$invalid')
              i.fa.fa-plus-square-o
              |  Create
