extends ./layout.jade

block content
  <!-- Default box -->
  .box
    .box-header.with-border
      h3.box-title This is the home page
    .box-body
      Start Create your amazing application!
    .box-footer
      Footer
