extends ../../main/layout.jade
block content
  <!-- Default box -->
  .box
    .box-header.with-border
      h3.box-title Devices
    .box-body
      Start creating your amazing application!
    .box-footer
      Footer
